.allRecipeMainDiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

@media (max-width:400px) {
    .allRecipeMainDiv{
        display: block;
    }
}