.icon{
    cursor: pointer;
}

.unreadMail:hover{
    background-color: rgb(190, 238, 245);
}

.delete:hover{
    color:red
}

.inbox:hover{
    color:green
}

.sent:hover{
    color:blue}